:root{
    --background-color: rgba(26, 11, 46, 1)
}

nav{
    background-color: var(--background-color);
    
}

.hide{
    display: none;
}

/* section-one */
#underNav{
    background-image: url(./assets/hero-bg.png);
    
}
.AboutThePodcast{
    height: 646px;
    width: 1600px;
    border: 1px solid green;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items:center;
    gap: 200px;
}
.AboutThePodcast .upperPart{
    /* border: 1px solid peru; */
    width: 1200px;
    height: 222px;
    text-align: center;
}

.AboutThePodcast .lowerPart{
    width: 1200px;
    height: 94px;

}


@media screen and (max-width:576px){
   
    
    nav{
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        justify-content:space-between;

    }
   
    nav div {
        display: none;
    } 
    nav .btn1{
        display: none;
    }
    nav h2, img{
        margin-left: 20px;
        margin-right: 20px;
    }
    #underNav{
        border: 1px solid green;
        width: 100%;
        height: 29rem;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .AboutThePodcast{
        width: 100%;
        gap: 200px;
    }

    .AboutThePodcast .upperPart{
        width: 100%;
    }
    .AboutThePodcast .lowerPart{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;

    }
    .AboutThePodcast .lowerPart .achievements{
        text-align: center;
    }



}


@media screen and (min-width:577px) and (max-width:991px){

    nav{
        /* background-color: green; */
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav #humburger{
        display: none;
    }

    #underNav{
        border: 2px solid purple;
    }
    .AboutThePodcast{
        width: 100%;
        gap: 200px;
    }

    .AboutThePodcast .upperPart{
        width: 100%;
    }
    .AboutThePodcast .lowerPart{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;

    }
    .AboutThePodcast .lowerPart .achievements{
        text-align: center;
    }
    
}

@media screen and (min-width:992px){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
     nav #humburger{
        display: none;
    }

    #underNav{
        border:2px solid red;
        background-size: 100%;
        background-repeat: no-repeat;
        
        
    }
}