:root{
    --background-color: rgba(26, 11, 46, 1);
    --grid-sec-color: rgba(35, 14, 61, 1);
    --cards-bg-color: rgba(78, 17, 101, 0.4);
    
}

nav{
    background-color: var(--background-color);
    
}

.hide{
    display: none !important;
}

/* section-one */
#underNav{
    background-image: url(./assets/hero-bg.png);
    
}
.AboutThePodcast{
    height: 646px;
    width: 1600px;
    /* border: 1px solid green; */
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 200px;
}
.AboutThePodcast .upperPart{
    /* border: 1px solid peru; */
    width: 1200px;
    height: 222px;
    text-align: center;
}

.AboutThePodcast .lowerPart{
    width: 1200px;
    height: 94px;

}

.gap-left{
    margin-left: 15px;
}
.forGrid{
    width: 1600px;
    height: 1121px;
    /* border: 1px solid red; */
    background-color: var(--grid-sec-color);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 80px;
    overflow-y: hidden;


}
.forGrid #line1{
    width: 1200px;
    height: 58px;
    /* border:1px solid green; */
}
.forGrid .cards-container{
    width: 1200px;
    height: 783px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 130px);
    gap:30px;
    overflow-y: visible;

}
.cards-container .card1,.card2,.card3,.card4, .card5{
    background-color: var(--cards-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
  
}
.cards-container .card1{
        grid-column: span 2;
        grid-row: span 4;
}
.cards-container .card2, .card3{
        grid-column: span 4;
        grid-row: span 2;
}
.cards-container .card4{
        grid-column: span 4;
        grid-row: span 2;
}
.cards-container .card5{
        grid-column: span 2;
        grid-row: span 2;
}

/* FOR V-SECTION */
.v-section{
    width: 1600px;
    height: 1276px;
    background-color: var(--background-color);
    /* border:2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:200px;
}
.v-section .video-container{
    width: 1200px;
    height: 538px;
    /* border: 2px solid peru; */
    display: grid;
    gap:15px;
   


}
.video-container .video-card1{
    width:380px;
    height: 440px;
    /* border:1px solid green; */
    text-align: center;

}

.allVideos{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.v-section .host-container{
    width: 1200px;
    height: 378px;
    /* border: 2px solid red; */
}
#socialMedia  img{
    height: 40px;
    width: 40px;
}
@media screen and (max-width:576px){
   
    
    nav{
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        justify-content:space-between;

    }
   
    nav div {
        display: none;
    } 
    nav .btn1{
        display: none;
    }
    nav h2, img{
        margin-left: 20px;
        margin-right: 20px;
    }
    #underNav{
        border: 1px solid green;
        width: 100%;
        height: 29rem;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .AboutThePodcast{
        width: 100%;
        gap: 200px;
    }

    .AboutThePodcast .upperPart{
        width: 100%;
    }
    .AboutThePodcast .lowerPart{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;

    }
    .AboutThePodcast .lowerPart .achievements{
        text-align: center;
    }

    .forGrid{
        width: 100%;
    }
    .forGrid .cards-container{
        display:flex;
        flex-direction: column;
        width: 100%;
        border-radius: 20px;
        
    }

    .v-section{
        width: 100%;
        height: 1936px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* align-items: center; */
        gap: 60px;
        
    }
    .v-section .video-container{
    width: 100%;
    height: 1250px;
    display: flex;
    flex-direction: column;
    }

    .allVideos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .v-section .host-container{
    width: 100%;
    }

    .v-section .host-container{
    width: 100%;
    height: 546px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.host{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hostName{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#socialMedia{
    text-align: center;
}

}


@media screen and (min-width:577px) and (max-width:991px){

    nav{
        /* background-color: green; */
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav #humburger{
        display: none;
    }

    #underNav{
        border: 2px solid purple;
    }
    .AboutThePodcast{
        width: 100%;
        gap: 200px;
    }

    .AboutThePodcast .upperPart{
        width: 100%;
    }
    .AboutThePodcast .lowerPart{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;

    }
    .AboutThePodcast .lowerPart .achievements{
        text-align: center;
    }

    .forGrid{
        width: 100%;
    }
    .forGrid .cards-container{
        display:flex;
        flex-direction: column;
        width: 100%;
        border-radius: 20px;
        
    }
    
}

@media screen and (min-width:992px){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
     nav #humburger{
        display: none;
    }

    #underNav{
        border:2px solid red;
        background-size: 100%;
        background-repeat: no-repeat;
        
        
    }
}